{{ $email := .Get "email"}}
{{ $lang := .Get "lang" }}
{{ $btnLbl := cond (eq $lang "es") "Contáctanos" 
  (cond (eq $lang "fr") "Nous contacter" 
  (cond (eq $lang "ru") "Связаться с нами" 
  (cond (eq $lang "ko") "문의하기" 
  "Contact Us"))) }}

{{ $closeLbl := cond (eq $lang "es") "Cerrar" 
  (cond (eq $lang "fr") "Fermer" 
  (cond (eq $lang "ru") "закрывать" 
  (cond (eq $lang "ko") "닫다" 
  "Close"))) }}

{{ $titleLbl := cond (eq $lang "es") "Contacto" 
  (cond (eq $lang "fr") "Contact" 
  (cond (eq $lang "ru") "связаться" 
  (cond (eq $lang "ko") "연락하다" 
  "Contact"))) }}

{{ $emailUsLbl := cond (eq $lang "es") "Mándanos correo" 
  (cond (eq $lang "fr") "Envoyez-nous un email" 
  (cond (eq $lang "ru") "Свяжитесь с нами по электронной почте" 
  (cond (eq $lang "ko") "이메일을 보내주세요" 
  "Email us"))) }}

{{ $orLbl := cond (eq $lang "es") "o" 
  (cond (eq $lang "fr") "ou" 
  (cond (eq $lang "ru") "или" 
  (cond (eq $lang "ko") "또는"
  "or"))) }}

{{ $callLbl := cond (eq $lang "es") "llámanos" 
  (cond (eq $lang "fr") "appelez-nous" 
  (cond (eq $lang "ru") "позвоните нам" 
  (cond (eq $lang "ko") "전화주세요" 
  "give us a call"))) }}

{{ $infoLbl := cond (eq $lang "es") "para más información" 
  (cond (eq $lang "fr") "pour plus d'informations" 
  (cond (eq $lang "ru") "для дополнительной информации" 
  (cond (eq $lang "ko") "자세한 내용은" 
  "for more information"))) }}
  
{{ $emailAddr := delimit (slice "mailto:" $email) "" }}
{{ $phoneNo := $.Page.Site.Params.phone }}

<div style="text-align: center;">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
    {{ $btnLbl }}
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">{{ $titleLbl }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/images/ola.svg" style="width: 100%; display: block; margin-left: auto; margin-right: auto;" alt="{{ $.Page.Site.Title }}" > <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
        </svg>
        {{ partial "link.html" (dict "context" . "src" $emailAddr "label" $emailUsLbl)}} {{ $orLbl }}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus" viewBox="0 0 16 16">
          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        {{ partial "link.html" (dict "context" . "src" "REPLACE-ME" "label" $callLbl)}} 
        {{ $infoLbl }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ $closeLbl }}</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('a[href="REPLACE-ME"]').attr('href', '{{ $phoneNo }}');
</script>