<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="disableTelemetry" onclick="handleTelemetrySwitch()">
  <label class="custom-control-label" for="disableTelemetry">
    {{if .Get 0 | eq "en" }}
    Current Telemetry is: <code tag-id="telemetryStatusLabel-en">Enabled</code>
    {{ else }}
    Actualmente la recolección de telemetría se encuentra: <code tag-id="telemetryStatusLabel-es">Habilitada</code>
    {{ end }}</label>
</div>
<script>
  let lang = "{{.Get 0 }}";
  let labelSelector = `code[tag-id="telemetryStatusLabel-${lang}"]`;
  let disabledTelemetry = window.localStorage.getItem('DisabledTelemetry');
  if ('true' === disabledTelemetry) {
    $('#disableTelemetry').prop('checked', false);
    if ('en' == lang) {
      $(labelSelector).text('Disabled');
    } else {
      $(labelSelector).text('Deshabilitada');
    }
  } else {
    $('#disableTelemetry').prop('checked', true);
    if ('en' == lang) {
      $(labelSelector).text('Enabled');
    } else {
      $(labelSelector).text('Habilitada');
    }
  }

  function handleTelemetrySwitch() {
    let lang = "{{.Get 0 }}";
    let labelSelector = `code[tag-id="telemetryStatusLabel-${lang}"]`;
    let enableTelemetry = $('#disableTelemetry').prop('checked');
    if (true === enableTelemetry) {
      window.localStorage.removeItem('DisabledTelemetry');
      BrewingCatsCore.Config.TelemetryEnabled = true;
      BrewingCatsCore.Logger.traceInfo(
        `Enabled Telemetry: Disabled -> Enabled`,
        'telemetrybrs',
        'tagId_8',
        'Configuration',
        {
          'action': 'Enable'
        }
      );

      if ('en' == lang) {
        $(labelSelector).text('Enabled');
      } else {
        $(labelSelector).text('Habilitada');
      }
    } else {
      BrewingCatsCore.Logger.traceInfo(
        `Disabled Telemetry: Enabled -> Disabled`,
        'telemetrybrs',
        'tagId_9',
        'Configuration',
        {
          'action': 'Disable'
        }
      );

      window.localStorage.setItem('DisabledTelemetry', 'true');
      BrewingCatsCore.Config.TelemetryEnabled = false;
      if ('en' == lang) {
        $(labelSelector).text('Disabled');
      } else {
        $(labelSelector).text('Deshabilitada');
      }
    }
  }
</script>